@import "../abstracts/variables";

.footer{
  display: flex;
  height: 342px;
  background: $primary-color;
  flex-direction: column;
  align-items: center;
  
  @media (min-width: $bp-md) {
    height: 408px;
  }
  
  @media (min-width: $bp-lg) {
    height: 530px;
  }
}

.footer__link{
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 139px;
  border: 1px solid var(--Gray-6, #F2F2F2);
  padding: 8px 30px;
  width: 342px;
  height: 72px;
  margin-top: 53px;
  margin-bottom: 113px;
  align-items: center;

  @media (min-width: $bp-md) {
    width: 714px;
    height: 150px;
    padding: 8px 38px;
    gap: 45px;

    & img{
      width: 108px;
      height: 108px;
    }
  }
  
  @media (min-width: $bp-lg) {
    width: 914px;
    height: 192px;
    padding: unset;
    justify-content: center;
  }
}

.link__text-container{
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media (min-width: $bp-md){
    width: 487px;
    height: 108px;
    gap: 17px;
  }
}

.link__top-text{
  color: $default-color;
  font-family: DynaPuff;
  font-size: 20px;
  font-weight: 700;

  @media (min-width: $bp-md){
    font-size: 47px;
    width: 487px;
  }
}

.link__bottom-container{
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;

  & p{
    color: $default-color;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  & img{
    width: 33px;
    height: 16px;
  }

  @media (min-width: $bp-md){
    & p{
      font-size: 24px;
    }

    & img{
      width: 55px;
      height: 26px;
    }
  }
}

.footer__link-list{
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.footer__text{
  color: $default-color;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 21px;
}