@import "../abstracts/variables";

.graphics-design{
  display: flex;
  height: 1260px;
  background: $primary-color;
  padding: 58px 0 93px;
  flex-direction: column;
  align-items: center;

  & h2{
    color: $default-color;
    font-family: DynaPuff;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 343px;
  }

  @media (min-width: $bp-md) {
    height: 1122px;

    & h2{
      font-size: 80px;
      width: 704px;
    }
  }

  @media (min-width: $bp-lg) {
    height: 1220px;

    & h2{
      font-size: 80px;
      width: 1055px;
    }
  }
}

.graphics-design__img-container{
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 28px;
}

.graphics-design__img-container-row{
  display: flex;
  flex-direction: column;
  gap: 26px;

  @media (min-width: $bp-md) {
    flex-direction: row;
    gap: 34px;
  }
}

.graphics-img{
  width: 343px;
  height: 325px;
  border-radius: 40px;
  filter: grayscale(100%);
  object-fit: cover;

  @media (min-width: $bp-md) {
    width: 335px;
  }

  @media (min-width: $bp-lg) {
    width: 514px;
    height: 414px;
  }
}

.graphics-design__first-img{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  &::after{
    content: url("../../img/svg/Soft Star.svg");
    z-index: 1;
    position: absolute;
  }

  @media (min-width: $bp-md) {
    & .graphics-img{
      width: 704px;
      height: 414px;
    }
  }

  @media (min-width: $bp-lg) {
    & .graphics-img{
      width: 1055px;
      height: 414px;
    }
  }
}

.graphics-design__second-img{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  &::after{
    content: url("../../img/svg/Butterfly.svg");
    z-index: 1;
    position: absolute;
  }
}

.graphics-design__third-img{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  &::after{
    content: url("../../img/svg/Asterisk.svg");
    z-index: 1;
    position: absolute;
  }
}