@import "../abstracts/variables";

.header{
  display: flex;
  flex-direction: column;
  gap: 329px;
  background: $header-background-color;
  height: 800px;

  & h1{
    color: $default-color;
    font-size: 48px;
    font-weight: 700;
    font-family: DynaPuff;
    margin-left: 21px;
  }
  
  @media (min-width: $bp-md) {
      height: 796px;
      gap: 179px;

    & h1{
      font-size: 80px;
      margin-left: 34px;
    }
  }

  @media (min-width: $bp-lg) {
    height: 800px;
    gap: 394px;

    & h1{
      width: 846px;
      margin-left: 191px;
    }
  }
}

.header__menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 27px 17px;

  @media (min-width: $bp-md) {
    margin: 38px 34px;
  }

  @media (min-width: $bp-lg){
    align-items: center;
    margin-left: 191px;
    margin-top: 41px;
  }
}

.header__burger-btn{
  padding: unset;
  @media (min-width: $bp-lg) {
    display: none;
  }
}

.nav-menu{
  display: none;

  @media (min-width: $bp-lg){
    display: flex;
  }
}

.nav-menu__list{
  @media (min-width: $bp-lg) {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 364px;

    & a{
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: center;
      color: $default-color;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 700;
      border-radius: 20px;
      border: 1px solid $default-color;
      padding: 10px 16px;
    }
  }
}