@import "../abstracts/variables";

.project-card{
  display: flex;
  background: $secondary-color;
  height: 1206px;
  flex-direction: column;
  gap: 63px;
  padding: 52px 0 85px;
  align-items: center;

  @media (min-width: $bp-md){
    height: 1590px;
    gap: 102px;
  }
}

.project-card__main-container{
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px;
  background: $project-card-color;
  width: 343px;
  height: min-content;

  & h2{
    color: $project-card-text-color;
    font-family: DynaPuff;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  & p{
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  @media (min-width: $bp-md) {
    width: 703px;

    & h2{
      font-size: 40px;
    }

    & p{
      width: 580px;
      font-size: 16px;
    }
  }

  @media (min-width: $bp-lg) {
    width: 1050px;
  }
}

.img-main-container{
  display: flex;
  background-image: url("../../img/Frame 17.jpg");
  width: 311px;
  height: 278px;
  background-size: cover;
  justify-content: flex-end;
  padding: 20px;
  border-radius: 13px;
  
  @media (min-width: $bp-md) {
    width: 663px;
    height: 498px;
  }

  @media (min-width: $bp-lg) {
    width: 1010px;
  }
}

.img-container__arrow-rotate{
  padding: 11px;
  background: $default-color;
  border-radius: 50%;
  object-fit: none;
  width: 56px;
  height: 56px;
}

.text-container{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.project-card__secondary-container{
  display: flex;
  padding: 12px;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px;
  background: $project-card-color;
  width: 343px;
  height: min-content;

  & h2{
    color: $project-card-text-color;
    font-family: DynaPuff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  & p{
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  @media (min-width: $bp-md) {
    padding: 20px;
    width: 333px;

    & p{
      font-size: 16px;
    }
  }

  @media (min-width: $bp-lg) {
    width: 325px;
  }
}

.img-secondary-container{
  display: flex;
  background-image: url("../../img/Frame 17_2.jpg");
  width: 319px;
  height: 363px;
  background-size: cover;
  justify-content: flex-end;
  padding: 20px;
  border-radius: 13px;
  
  @media (min-width: $bp-md) {
    width: 288px;
    height: 448px;
  }
  
  @media (min-width: $bp-lg) {
    width: 285px;
    height: 338px;
  }
}

.project-card__row{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.hidden-first-card{
  display: none;

  & .img-secondary-container{
    background-image: url("../../img/Frame 17_1.jpg");
  }

  @media (min-width: $bp-md){
    display: flex;
  }
}

.hidden-second-card{
  display: none;

  & .img-secondary-container{
    background-image: url("../../img/Frame 17_3.jpg");
  }

  @media (min-width: $bp-lg){
    display: flex;
  }
}